/* My styles */



/* 
            Notes: 

            1. Compress used images to 300px 
            2. Set alt to each image 
            3. Set correct title for each page 
            4. Set name="description" and name="author" in meta for each page
            5. Add full About me and my full-full resume on the page About me
            6. Need to correct fotter of each article:
            <p>Placeholder text by
              <a href="#">Anton Talalaev</a>. Header image by
              <a href="#">Canva(need full name of the servise) (link to the image/author)</a>.
            </p>
            7. change all header images
            8. need main img for post_3 (password_management)
            9. add <meta name="description" content=""> and <meta name="author" content=""> for each page
            10. add favicon:     <!-- <link rel="shortcut icon" href="favicon.png"> -->

 */




/* Page Index */
.index-site-heading {
  padding: 330px 0 !important;
}
 

/* Page Posts */

/* Header */

.post-main-heading {
    padding: 140px 0 50px 0 !important;
}

.post-main-heading h1 {
    text-align: center;
}



/* Post main */

.post-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post-card {
  width: 18rem;
  margin: 10px;
}

.post-card img {
  height: 215px;
}

.post-card p {
  margin: 0px;
}

.keywords {
  color: #118e71;
  font-weight: 400;
}


/* Posts Img */

.img-container {
  margin-bottom: 20px;
}

.img-container img {
  width: 100%;
}



/* Posts Code */

.code-container {
  background-color: rgb(30, 30, 30);
  color: #d4d4d4;
  font-family: 'Courier New';
  font-size: 80%;
  padding: 30px 20px 30px 20px;
  border: 5px #d4d4d4 double;

}

.code-container p {
  margin: 0;
}

.code-container-centre {
  text-align: center;
}

code {
  color: #3c86d5;
  font-family: 'Courier New';
  font-size: 90%;
}

.code-attribute {
  color: #ce9178;
}

.code-light {
  color: #9cdcfe;
}

.code-comment {
  color: #6a9955;
}


.code-left-shift-1 {
  padding-left: 15px;
}

.code-left-shift-2 {
  padding-left: 30px;
}

.code-left-shift-3 {
  padding-left: 45px;
}